<?xml version="1.0"?>
<launch>
    <node pkg="ens_voiture_autonome" name="command" type="command.py" output="screen" launch-prefix="sudo"/>
    <node pkg="ens_voiture_autonome" name="t265" type="t265.launch" output="screen"/>
    <node pkg="ens_voiture_autonome" name="localization" type="localization.launch" output="screen"/>
</launch>
 
 
